:root {
    --text: #1A2028;
    --purple: #6477B6;
    --purple2: #485FAA;
    --gray1: #F2F5FF;
    --gray2: #96989C;
 }

@keyframes toTop {
    from {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes toBottom {
    from {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, input, button{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2%;
    font-size: 1rem;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

h1{
    font-size: 45px;
    line-height: 54.22px;
    margin-bottom: 20px;
}

h2{
    font-size: 16px;
    color: var(--gray2);
    font-weight: 500;
    text-transform: uppercase;
}

p{
    line-height: 25.28px;
    margin-bottom: 60px;
}

header{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
    animation: toBottom 0.5s forwards;
}

header .container{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header li a{
    margin-left: 50px;
    color: var(--text);
    transition: 0.3s;
}

header li a.here{
    color: var(--purple2);
    box-shadow: 0px 1.5px 0px 0px var(--purple2);
}

header li a:hover{
    color: var(--purple2);
    box-shadow: 0px 1.5px 0px 0px var(--purple2);
    transition: 0.3s;
}

/* Home */
.home .home-container{
    height: calc(100vh - 183px);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: toTop 0.5s forwards;
}

.home .content{
    max-width: 490px;
    margin-right: 40px;
}

.home .planilha-img img{
    max-height: 430px;
}

.home .buttons a:first-child{
    padding: 12px 25px;
    color: white;
    background-color: var(--purple);
    border-radius: 3px;
    margin-right: 20px;
    transition: 0.3s;
}

.home .buttons a:first-child:hover{
    background-color: var(--purple2);
    box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
    transition: 0.3s;
}

.home .buttons a:last-child{
    padding: 11px 32px;
    color: var(--text);
    border-radius: 3px;
    border: 1px solid var(--text);
    transition: 0.3s;
}

.home .buttons a:last-child:hover{
    color: var(--purple);
    border: 1px solid var(--purple);
    box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
    transition: 0.3s;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    animation: opacity 1s forwards;
}

/* Sobre */
.sobre{
    height: calc(100vh - 71px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre .team{
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    animation: toTop 0.5s forwards;
    margin-right: 30px;
}

.sobre .team img{
    margin: 10px;
    width: 120px;
}

.sobre h1{
    font-size: 35px;
    margin: 10px 0 40px 0;
    max-width: 450px;
    line-height: 45px;
}

.sobre .content{
    animation: toTop 0.5s forwards;
}

.sobre .content > p{
    max-width: 530px;
}

.sobre .content > a{
    padding: 12px 25px;
    color: white;
    background-color: var(--purple);
    border-radius: 3px;
    transition: 0.3s;
}

.sobre .content > a:hover{
    background-color: var(--purple2);
    box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
    transition: 0.3s;
}

/* Serviços */
.servicos{
    height: calc(100vh - 71px);
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.servicos h1{
    font-size: 35px;
    margin: 10px 0 40px 0;
    max-width: 550px;
    line-height: 45px;
}

.servicos div{
    animation: toTop 0.5s forwards;
}

.servicos div > p{
    max-width: 700px;
}

.servicos ul{
    display: flex;
    margin-bottom: 70px;
}

.servicos ul li{
    background: var(--gray1);
    width: 170px;
    height: 170px;
    margin-right: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 3px;
}

.servicos ul li p{
    margin: 0;
    max-width: 70px;
}

.servicos div > a{
    padding: 12px 25px;
    color: white;
    background-color: var(--purple);
    border-radius: 3px;
    transition: 0.3s;
}

.servicos div > a:hover{
    background-color: var(--purple2);
    box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
    transition: 0.3s;
}

/* Contato */
.contato{
    height: calc(100vh - 71px);
    display: flex;
    align-items: center;
}

.contato > div{
    flex: 1;
    animation: toTop 0.5s forwards;
}

.contato .content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contato .info{
    max-width: 500px;
}

.contato .info ul li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contato .info ul li p{
    margin: 0 0 0 30px;
}

.contato .info ul li img{
    width: 18px;
}

.contato form{
    max-width: 750px;
    margin-left: 50px;
}

.contato form label{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.contato form .flex{
    display: flex;
    justify-content: space-between;
}

.contato form .flex div:first-child{
    margin-right: 30px;
}

.contato form input{
    border: none;
    box-shadow: 0px 1.2px 0px 0px var(--gray2);
    margin-bottom: 50px;
    width: 100%;
    padding: 5px 0;
}

.contato form input:focus{
    outline: none;
    box-shadow: 0px 2px 0px 0px var(--purple);
    transition: 0.3s;
}

.contato form .flex input{
    width: 350px;
}

.contato form button{
    padding: 12px 25px;
    color: white;
    background-color: var(--purple);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    transition: 0.3s;
}

.contato form button:hover{
    background-color: var(--purple2);
    box-shadow: 0px 4px 20px rgba(100, 119, 182, 0.3);
    transition: 0.3s;
}